@use "./helpers/index" as *;








.header {
  width: 100%;
  padding-block: fluid(28, 15);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 70px;
  }

  &__logo {
    width: fluid(157, 113);

    @include hover {
      transform: scale(1.05);
    }
  }

  &__nav-list {
    display: flex;
    align-items: center;
    column-gap: 42px;
  }

  &__nav-link {
    text-transform: uppercase;
    font-weight: 700;
    color: var(--color-white);
    font-size: 14px;
    line-height: 150%;

    @include hover {
      color: var(--color-accent);
    }
  }

  &__actions {
    display: flex;
    column-gap: 10px;
    margin-left: auto;
    margin-right: 25px;
  }
}




.burger-button {
  @include flex-center(true);

  width: 37px;
  height: 31px;
  border: none;
  padding: 0;
  background-color: transparent;

  @include hover {
    background-color: var(--color-accent);
  }

  &.is-active {
    .burger-button__line {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;

      &--2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
      }
    }
  }

  &:not(.is-active) {
    .burger-button__line--3 {
      stroke-dasharray: 30 207;
      stroke-dashoffset: -30;
    }
  }

  &__line {
    fill: none;
    stroke: var(--color-white);
    stroke-width: 6;
    stroke-linecap: round;
    stroke-dasharray: 60 207;
    transition:
            stroke-dasharray var(--transition-duration-longer) cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset var(--transition-duration-longer) cubic-bezier(0.4, 0, 0.2, 1);

    &--2 {
      stroke-dasharray: 60 60;
    }
  }
}




//Buttons


.button-skew {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: skew(-20deg);
  &>img,
  &>span {
    transform: skew(20deg);
  }
}

.actions-link_phone {
  width: 92px;
  height: 60px;
  border: 1px solid rgb(255 255 255 / 40%);
  @mixin mobile {
    width: 100%;
  }
}

.actions-link_request {
  max-width: 260px;
  width: 100%;
  height: 60px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  background-color: var(--color-accent);
  color: var(--color-white);
  border: none;
  @mixin mobile {
    width: 100%;
  }
  &::after {
    content: "";
    position: absolute;
    top: -1px;
    right: -12px;
    display: inline-block;
    width: 5px;
    height: 101%;
    background-color: var(--color-white);
    transform: skew(-1deg);
  }
}


// HERO

.hero {
  --hero-gradient: linear-gradient(
    to top,
    var(--color-dark-grey) 0%,
    rgb(19 19 19 / 0) 100%) 50% 100%/100% 40%;

  display: flex;
  align-items: end;
  border-radius: 60px 60px 0 0;
  min-height: calc(100vh - 111px);
  background:
    var(--hero-gradient),
    url("../assets/images/bg.png") 50%/cover;
  padding-bottom: fluid(95, 50);
  background-repeat: no-repeat;

  @include mobile {
    min-height: calc(100vh - 72px);
  }

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  &__title {
    max-width: 29rem;
    line-height: 1.3;
  }

  &__text {
    color: rgb(255 255 255 / 80%);
  }
}

// END HERO

// CARDS

.cards {
  &__wrapper {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 30px;
  }

  &__load {
    margin: 60px auto 0 auto;
  }
}

.card {

  &__image {
    width: 100%;
    height: auto;
  }
  &__slug {
    text-transform: uppercase;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: var(--color-grey);
  }
  &__title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-grey);
  }
  &__body {
    padding: 25px 25px 30px 25px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: var(--color-white);
  }
  &__text {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 144px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: var(--color-text);
  }
  &__author {
    color: var(--color-text);
    font-size: 12px;
  }
  &__button {
    width: 100%;
    padding: 15px 20px;
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    font-size: 14px;
    background-color: var(--color-black);
    color: var(--color-white);
    border: none;
  }
}

// END CARDS

// FOOTER

.footer {
  padding: 25px 0;
  &__text {
    color: var(--color-white);
  }
}



//END FOOTER