@use "./helpers/index" as *;

:root {

  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark-grey: #131313;
  --color-grey: #171717;
  --color-text: #666666;
  --color-accent: #C2AB81;
  --color-border-latter: #808080;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --border: var(--border-width-s) solid var(--color-black-15);

  --border-width-s: 1px;
  --border-width-m: 3px;
  --border-width-l: 4px;

  --border-radius-xxxs: 4px;
  --border-radius-xxs: 5px;
  --border-radius-xs: 6px;
  --border-radius-s: 8px;
  --border-radius-m: 10px;
  --border-radius-l: 12px;

  --font-family-base: 'Montserrat', sans-serif;

  --container-width: #{fluid-to-laptop(
    $container-desktop-width,
    $container-laptop-width
  )};

  --container-padding-x: 16px;
  --container-padding-y: #{fluid(95, 50)};

  --transition-duration: 0.2s;
  --transition-duration-longer: 0.4s;
}
